<div ng-controller='formCtrl'>
	<div class="m-cell" >
		<form id='form'>
			<div class="cell-item" ng-repeat = 'field in fields' on-finish-render>
		        <div class="cell-left">
		        	<span style='color:red' ng-if='field.must == "*" '>{{field.must}}</span>
		        	{{field.title}} : &nbsp;
		        </div>
		        <div class="cell-right" ng-if='field.type == "text" '>
		        	<input value='{{field.value}}' name="{{field.name}}" class="cell-input" ng-readonly = '{{field.readonly}}'/>
		        </div>
		        <div class="cell-right" ng-if='field.type == "textarea" '>
		        	<textarea name="{{field.name}}" class="cell-input" ng-readonly = '{{field.readonly}}'>{{field.value}}</textarea>
		        </div>
		        <div class="cell-right" ng-if='field.type == "DATEPICKER" '>
		        	<input value='{{field.value}}' data-options= '{"type":"date"}' ng-readonly = '{{field.readonly}}' name="{{field.name}}" class="cell-input H5_date"/>
		        </div>
		        <div class="cell-right" ng-if='field.type == "TIMEPICKER" '>
		        	<input value='{{field.value}}' data-options= '{}' ng-readonly = '{{field.readonly}}' name="{{field.name}}" class="cell-input H5_date"/>
		        </div>
		        <div class="cell-right" ng-if='field.type == "select" '>
		        	<select name="{{field.name}}" style="margin-top:15px;">
						<option ng-repeat='option in field.value' ng-readonly = '{{field.readonly}}' ng-selected="{{option.selected}}" value='{{option.id}}'>{{option.text}}</option> 
					</select>
		        </div>
		        <div class="cell-right" ng-if='field.type == "Extension" '>
		        	<input value='{{field.text}}'  class="cell-input" readonly="readonly" id='{{field.id}}'/>
		        	<input type= 'hidden' name = '{{field.name}}' value='{{field.value}}' class="cell-input" readonly="readonly" id='{{field.id}}'/>
		        </div>
		        <div class="cell-right" ng-if='field.type == "radio" '>
					 <div class="m-cell" style='margin-bottom:0px'>
					    <label class="cell-item" ng-repeat = 'radio in field.value'>
					        <span class="cell-left">{{radio.text}}</span>
					        <label class="cell-right">
					            <input type="radio" name="radio" value='{{radio.id}}' ng-checked = '{{radio.checked}}'/>
					            <i class="cell-radio-icon"></i>
					        </label>
					    </label>
					</div>
		        </div>
	    	</div>
		</form>
	</div>	
	<div style='text-align:center;margin-top:50px;margin-bottom:20px;'>
		<div style='float:right' ng-repeat = 'btn in btns'> 
		     <a ng-click='fns[btn.fns]()' class="btn btn-primary" style='margin-left:20px;font-size:16px;color:#fff;height:45px;line-height:45px;background:#007aff'>
		     	{{btn.title}}
		     </a>
		</div>
	</div>
</div>
