<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../../static/fontClass/iconfont.css"/>
	<link rel="stylesheet" href="../../static/css/ydui.css"/>
	<link rel="stylesheet" href="../../static/css/mui.min.css">
	<script src="../../static/js/ydui.flexible.js"></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/mui.picker.min.css" />
</head>
<body style="background:#fff" ng-app = "epcApp" ng-controller = 'tabsCtrl'>
    <div class="mui-content" style='background:#fff;margin-top:10px;'>
    	<div class="m-tab" data-ydui-tab>
		    <ul class="tab-nav">
		        <li ng-class="{true:'tab-nav-item tab-active',false:'tab-nav-item'}[tab.active]"   ng-repeat='tab in tabs' ng-if='tab.show'>
		        	{{tab.title}}
		        </li>
		    </ul>
		    <div class="tab-panel">
		        <div ng-class="{true:'tab-panel-item tab-active',false:'tab-panel-item'}[tab.active]" ng-repeat='tab in tabs' ng-if='tab.show'>
		        	<div ng-include="tab.tempUrl"></div>
		        </div>
		    </div>
		</div>
		<input type="hidden" id = 'extras'  />
    </div>
<script src="../../static/js/jquery2.2.1.min.js"></script>
<script src="../../static/js/mui.min.js"></script>
<script src="../../static/js/ydui.js"></script>
<script src="../../static/js/mui.picker.min.js"></script>
<script src="../../static/js/immersed.js"></script>
<script src="../../static/js/angular.js"></script> 
<script src="../../js/config.js"></script>
<script src="../../js/epcUtil.js"></script>
<script src="../../js/epcTool.js"></script>
<script>
	var currType = '';
	var formtemp = '';
	var formbtn = '' ;
	var mainformid ='';
	var curWebview = '';
	var tablelist = '';
	mui.plusReady(function(){
		curWebview = plus.webview.currentWebview();
	})
	var dialog = window.YDUI.dialog;
	var webView = JSON.parse(localStorage.getItem("webView"));
		if( webView != '' && typeof webView != 'undefined'){
			currType = webView.type;
			formtemp = webView.formtemp;
			formbtn = webView.formbtn;
			mainformid = webView.mainformid;
			tablelist = epc[currType].form.tabList;
		}
	var yduiUtil = window.YDUI.util;	
	var app = angular.module('epcApp',[])
		.controller('tabsCtrl',['$scope',function($scope){			
			$scope.tabs = tablelist;
		}]).controller('formCtrl',['$scope','$rootScope',function($scope,$rootScope){
			$rootScope.parms = epcUtil.renderStartFlow(formtemp,tablelist);
			var obj = epcUtil.renderForm(currType,mainformid,formbtn,$rootScope.parms);
			$scope.fields = obj.field;
			$scope.btns   = obj.btns;
			$scope.fns = {
				close_fn:function(){  //关闭
					curWebview.close();
				},
				callback_fn:function(){  //保存 
					epcUtil.saveForm(dialog,currType,mainformid,obj.json);
				},
				submit_fn:function(){  //提交 
					epcUtil.submitForm(dialog,currType,mainformid,obj.json);
				},
				submit_task_fn:function(){//task 提交
					epcUtil.submitTaskForm(dialog,currType,mainformid,obj.json);
				}
			} 
			//添加渲染完毕的回调
			$scope.$on('onFinishRender_fn', function(){ 
				mui.plusReady(function(){
					$scope.fields.forEach(function(field){
						if(field.type == 'Extension'){//渲染组件
							epc[currType].form.specialField.forEach(function(obj){
								if(obj.fieldId == field.name){
									field.picker = obj;
									var tree_picker = new mui.PopPicker(field.picker.layer);
									tree_picker.setData(field.picker.dataSource());
									var showCityPickerButton = document.getElementById(field.id);
									showCityPickerButton.addEventListener('tap', function(event) {
										tree_picker.show(function(items){
											field.picker.callback(items);
										});
									}, false);
								}
							})
						}
					});
				});
				//渲染日期组件
		      	(function($) {
					var btns = $('.H5_date');
					btns.each(function(i, btn) {
						btn.addEventListener('tap', function() {
							var optionsJson = this.getAttribute('data-options') || '{}';
							var options = JSON.parse(optionsJson);
							var id = this.getAttribute('id');
							var picker = new $.DtPicker(options);
							var self = this;
							picker.show(function(rs) {
								jQuery(self).val((rs.text));
								picker.dispose();
							});
						}, false); 
					});
				})(mui);
			});
		}]).controller('subListCtrl',['$scope','$rootScope',function($scope,$rootScope){
			$scope.grids = epcUtil.renderSubList(dialog,currType,mainformid,$rootScope.parms);
		}]).directive('onFinishRender',['$timeout', '$parse', function ($timeout, $parse) {
		    return {
		        restrict: 'A',
		        link: function (scope, element, attr) {
		            if (scope.$last === true) {
		            	$timeout(function($scope){  
		                    scope.$emit('onFinishRender_fn',$scope); 
		                });
		            }
		        }
		    }
		}])
</script>
</body>
</html>