<div ng-controller='formCtrl'>
	<div class="m-cell" >
		<form id='form'>
			<div class="cell-item" ng-repeat = 'field in fields' on-finish-render>
		        <div class="cell-left">
		        	<span style='color:red' ng-if='field.must == "*" '>{{field.must}}</span>
		        	{{field.title}} : &nbsp;
		        </div>
		        <div class="cell-right" ng-if='field.type == "text" '>
		        	<input value='{{field.value}}' name="{{field.name}}" class="cell-input"/>
		        </div>
		        <div class="cell-right" ng-if='field.type == "textarea" '>
		        	<textarea name="{{field.name}}" class="cell-input">{{field.value}}</textarea>
		        </div>
		        <div class="cell-right" ng-if='field.type == "DATEPICKER" '>
		        	<input value='{{field.value}}' data-options= '{"type":"date"}' name="{{field.name}}" class="cell-input H5_date"/>
		        </div>
		        <div class="cell-right" ng-if='field.type == "TIMEPICKER" '>
		        	<input value='{{field.value}}' data-options= '{}' name="{{field.name}}" class="cell-input H5_date"/>
		        </div>
		        <div class="cell-right" ng-if='field.type == "select" '>
		        	<select name="{{field.name}}" style="margin-top:15px;">
						<option ng-repeat='option in field.value' ng-selected="{{option.selected}}" value='{{option.id}}'>{{option.text}}</option> 
					</select>
		        </div>
		        <div class="cell-right" ng-if='field.type == "Extension" '>
		        	<input value='{{field.text}}'  class="cell-input" readonly="readonly" id='{{field.id}}'/>
		        	<input type= 'hidden' name = '{{field.name}}' value='{{field.value}}' class="cell-input" readonly="readonly" id='{{field.id}}'/>
		        </div>
		        <div class="cell-right" ng-if='field.type == "radio" '>
					 <div class="m-cell" style='margin-bottom:0px'>
					    <label class="cell-item" ng-repeat = 'radio in field.value'>
					        <span class="cell-left">{{radio.text}}</span>
					        <label class="cell-right">
					            <input type="radio" name="radio" value='{{radio.id}}' ng-checked = '{{radio.checked}}'/>
					            <i class="cell-radio-icon"></i>
					        </label>
					    </label>
					</div>
		        </div>
		        <!-- <div class="cell-right" ng-if='field.type == "DATEPICKER" '>
		        	<input value='{{field.value}}' name="{{field.name}}" class="cell-input H5_date"/>
		        </div>
		        <div class="cell-right" ng-if='field.type == "DATEPICKER" '>
		        	<input value='{{field.value}}' name="{{field.name}}" class="cell-input H5_date"/>
		        </div>
		        <div class="cell-right" ng-if='field.type == "DATEPICKER" '>
		        	<input value='{{field.value}}' name="{{field.name}}" class="cell-input H5_date"/>
		        </div>
		        <div class="cell-right" ng-if='field.type == "DATEPICKER" '>
		        	<input value='{{field.value}}' name="{{field.name}}" class="cell-input H5_date"/>
		        </div>-->
	    	</div>
		</form>
	</div>	
	<div class="mui-22222btn-blue">
      	<div style='text-align: center;' id='btn'>
		     <a href="javascript:;" ng-click='callback_fn()' class="btn btn-primary" style='font-size:16px;color:#fff;height:45px;line-height:45px;width:40%;background:#007aff'>保存</a>
		</div>
    </div>
</div>
